* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

h2 {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	float: right;
	padding: 5px 10px 5px 10px;
	position: absolute;
	top: 0px;
	right: 0px;
}

section {
	float: left;
	position: relative;
	background-color: #B4B4B4;
	border: 1px solid black;
	margin-left: 2.5%;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 30%;
	padding: 15px;
	
}

p {
	margin-top: 25px;
}

#title-chicken {
	background-color: #FFBCBC;
}

#title-beef {
	background-color: #F46C6C;
}

#title-sushi {
	background-color: #BCECFF;
}


@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
	}
  .col-md-6 {
    width: 46.25%;
  }
  .col-md-12 {
    width: 95%;
  }
}

@media (max-width: 767px) {
	.col-sm-12 {
		width: 80%;
		margin-left: 10%;
	}
}
